
@font-face {
    font-family: 'Outfit';
    src: url('fonts/webfonts/Outfit-Thin.woff2') format('woff2'),
        url('fonts/webfonts/Outfit-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Outfit';
    src: url('fonts/webfonts/Outfit-UltraLight.woff2') format('woff2'),
        url('fonts/webfonts/Outfit-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Outfit';
    src: url('fonts/webfonts/Outfit-Light.woff2') format('woff2'),
        url('fonts/webfonts/Outfit-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Outfit';
    src: url('fonts/webfonts/Outfit-Regular.woff2') format('woff2'),
        url('fonts/webfonts/Outfit-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/webfonts/Outfit-Medium.woff2') format('woff2'),
        url('fonts/webfonts/Outfit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Outfit';
    src: url('fonts/webfonts/Outfit-SemiBold.woff2') format('woff2'),
        url('fonts/webfonts/Outfit-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Outfit';
    src: url('fonts/webfonts/Outfit-Bold.woff2') format('woff2'),
        url('fonts/webfonts/Outfit-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Outfit';
    src: url('fonts/webfonts/Outfit-UltraBold.woff2') format('woff2'),
        url('fonts/webfonts/Outfit-UltraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Outfit';
    src: url('fonts/webfonts/Outfit-Black.woff2') format('woff2'),
        url('fonts/webfonts/Outfit-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
